<html>
   <body>
      <h1>Music genre classifier</h1>
      <h2>svm method</h2>
      <form action = "http://localhost:5000/uploadersvm" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>  
      <h2>vgg method</h2>
      <form action = "http://localhost:5000/uploadervgg" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html>